/* start global rules  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth !important;
}

:root {
  --main-color: #0e0e0e;
  --activity-color: #800020;
  --secondry-color: #787da5;
  --white-me: #ffffff;
  --system-bottom-padding: 60px;
  --system-up-padding: 60px;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.container {
  padding-right: 60px;
  padding-left: 60px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

/* media query break point  */
/* small devices  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium devices  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large devices  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */

/* start landing  */
/* start heading  */
.navbar {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar .container::after {
  content: "";
  width: calc(100% - 120px);
  height: 4px;
  background-color: #0e0e0e;
  position: absolute;
  bottom: 0px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  padding: 0;
  margin: 0;
}

.logo .logo-text h3 {
  color: var(--activity-color);
}

.logo .logo-text p {
  color: var(--white-me);
}

.nav-content ul {
  display: flex;
  /* text-decoration: none; */
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
  padding-right: 40px;
}

li a {
  text-decoration: none;
  color: var(--white-me);
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: -10px;
  i {
    color: var(--white-me);
  }
}

.link {
  position: relative;
  transition: 0.3s;
}

.fa-bars {
  display: none;
  color: var(--white-me);
}

body i {
  font-family: "FontAwesome" !important;
}

@media (max-width: 992px) {
  .nav-content ul {
    display: none;
  }

  .link.active::after {
    display: none;
  }

  .nav-content ul.open {
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.759);
    border: none;
    z-index: 6;
  }

  .fa-bars {
    display: block;
    border-right: 2px solid var(--white-me);
    margin-right: 40px;
    padding-right: 40px;
  }
}

.link.active::after {
  content: "";
  background-color: #efefef;
  width: 100%;
  position: absolute;
  top: 58.5px;
  z-index: 4;
  right: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 4px;
}

.link.active a {
  color: #efefef;
  transition: 0.3s;
  font-weight: 900;
}

.link a{
  color: #0e0e0e;
}

/* end header  */
/* start landing  */
.landing {
  min-height: 100vh;
  position: relative;
  transition: var(--transition-duration, 0.5s) background-image ease;
  overflow: hidden;
}

video{
  position: absolute;
  width: 120% !important;
  /* height: 100%; */
  top: 0;
  left: 0;
}

@media (max-width: 900px) {
  video {
    width: 220% !important; 
  }
}

@media (max-width: 767px) {
  video {
    width: 400% !important; 
  }
}

.glass{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e0e0e19;
  backdrop-filter: blur(4px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(4px); /* For Safari support */
}

.logoNav{
  width: 177px;
  height: 40px;
}

@keyframes crossfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: -1; /* Move the new image below the old one while fading */
  }
  100% {
    opacity: 1;
  }
}


.text {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: #efefefaa;
  color: var(--main-color);
  display: flex;
  justify-content: flex-end;
}
.text .content-landing {
  max-width: 450px;
}

.first {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

.second {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.content p {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
/* end landing  */

/* start nobels  */
.Nobels {
  min-height: 100vh;
  padding-top: 18px;
  padding-bottom: 48px;
  position: relative;
  overflow-x: hidden;
}

.Nobels .container .title{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nobel-title-1{
  padding: 0px !important;
  margin: 0px !important;
  font-size: 92px;
  font-weight: bold;
}

.nobel-title-2{
  padding: 0px !important;
  margin: 0px !important;
  color: transparent;
  line-height: 130px;
  font-size: 180px;
  transition: WebkitTextStroke 0.8s ;
}


.Nobels .container {
display: flex;
margin-left: 0px !important;
margin-right: 0px !important;
position: relative;
flex-direction: column;
align-items: center;
justify-content: center;
}

.Nobels .nobel-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.since{
  position: absolute;
  font-size: 32px;
  rotate: -90deg;
  top: 184px;
  right: 0;
  transition: color 0.8s;
}

.nobel-desc{
  padding-top: 2%;
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.nobel-desc .desc{
  width: 300px;
    font-weight: 500;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 
  81px 69px 30px 0px rgba(10, 10, 10, 0.0),
  52px 44px 27px 0px rgba(10, 10, 10, 0.03),
  29px 25px 25px 0px rgba(10, 10, 10, 0.1),
  13px 11px 17px 0px rgba(16, 16, 16, 0.15),
  3px 3px 9px 0px rgba(16, 16, 16, 0.2);

}

.nobel-desc .desc p{
  text-align: left;
  font-size: 14px;
}

.action{
  padding-top: 8%;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start ;
  justify-content: left;
}

.ratio{
  padding-top:12px ;
  display: flex;
  flex-direction: row;
  gap: 28px;
}


.ratio .btn{
  all: unset;
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 300px;
}

.ratio .btn .num{
  padding: 14px;
  border-radius: 10px;
  text-align: center;
}

.ratio .btn .info p{
  text-align: left;
}

.Nobels .controls {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
  margin-top: 48px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 24px;
}

.Nobels .controls button {
  margin: 0 10px;
  position: relative;
  padding: 8px 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  z-index: 100;
}

.Nobels .controls button:hover {
  background-color: #0056b3;
}

.custome-btn{
  all: unset;
  background-color: #0e0e0e00;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 12px;
  width: fit-content;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 20px;
  font-weight: bold;
}

.action .custome-btn{
  user-select: none;
  text-align: center;
}

.action{
  position: relative;
}

.connect {
  z-index: 70;
  position: absolute;
  right: 0;
  top: 67%;
  width: fit-content;
  padding-right: 12%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  background-color: #efefefaa;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    border-radius: 18px 0px 0px 18px;
    box-shadow: 
    81px 69px 30px 0px rgba(10, 10, 10, 0.0),
    52px 44px 27px 0px rgba(10, 10, 10, 0.03),
    29px 25px 25px 0px rgba(10, 10, 10, 0.1),
    13px 11px 17px 0px rgba(16, 16, 16, 0.15),
    3px 3px 9px 0px rgba(16, 16, 16, 0.2);

    height: fit-content;
}


.connect button {
  transition: background-color 0.3s , color 0.3s;
  text-align: center;
  cursor: pointer !important;

}

button svg path{
  transition: color 0.3s !important;
}



@media (max-width: 767px) {
  .since{
  font-size: 24px;
  position: relative !important;
  rotate: 0deg !important;
  top: 0px;
  }
  .nobel-desc{
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 520px){
.nobel-title-2 {
    line-height: 42px !important;
    font-size: 72px !important;
  }
}


@media (min-width:768px) {
  .Nobels .container{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:876px) {
  .nobel-title-2{
    line-height: 90px;
      font-size: 120px;
  }
  .nobel-desc {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:965px) {
  .since {
      font-size: 24px;
      position: relative !important;
      rotate: 0deg !important;
      top: 0px;
    }
  .connect h2{
    font-size: 22px !important;
  }
  .custome-btn{
    margin-top: 8px;
    font-size: 14px !important;
    align-items: center;
  }

  .connect{
    padding-right: 0px !important;
  }
}

@media (max-width:600px) {
  .ratio{
    flex-direction: column;
  }
}

@media (max-width:1098px){
  .connect{
    padding-right: 6% !important;
  }
}

@media (max-width:1032px) {
    .Nobels .controls {
        position: relative;
        padding-bottom: 0px !important;
      }
  .nobel-model{
    display:none;
  }
  .connect {
      padding-right: 0px !important;
    }
  .action{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  .connect {
    align-items: center;
    width: 100%;
    margin-top: 28px;
    position: relative !important;
    border-radius: 0px;
}
  .action{
    align-items: center;
    justify-content: center ;
  }
  .nobel-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
  width: 400px !important;
  p{
    font-size: 16px !important;
    font-weight: 500;
  }
}
}

.nobel-model{
  width: 600px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
/* end nobels  */

/* start portfolio  */
.portfolio {
  min-height: 100vh;
  display: flex;
  padding-top: var(--system-up-padding);
  padding-bottom: var(--system-bottom-padding);
  position: relative;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center !important;
  align-content: center !important;


  p {
    padding-top: 40px;
    padding-bottom: 80px;
    max-width: 600px;
    text-align: center;
    line-height: 1.2rem;
    color: var(--secondry-color);
    font-weight: 400;
    text-align: center;
  }
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.portfolio .custome-btn{
  transition: shadow;
  width: fit-content !important;
    left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      position: relative;
      margin-top: 64px;
  border: 3px solid #0e0e0e;
  transition: border 0.3s,color 0.3s;
  cursor: pointer;
}
.portfolio .custome-btn svg path {
  transition: color 0.3s;
}

.portfolio .custome-btn:hover{
  border: 3px solid #800020;
  color: #800020;
}

.portfolio .seeMore {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  position: relative;
  max-width: fit-content;
  margin-top: 60px;
  padding: 20px;
  background-color: var(--activity-color);
  color: var(--white-me);
  text-align: center;
}

 .special-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    padding: 0px !important;
      margin: 0px !important;
      font-size: 92px;
      font-weight: bold;
  }
}

.image-filter {
  display: flex;
  gap: 20px;
}
.show-case img {
  max-width: 100%;
  transition: 0.3s;
}
.show-case {
  overflow: hidden;
  position: relative;
}

.portfolio-image {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .portfolio-image .show-case {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio-image .show-case {
    flex-basis: 25%;
  }
}

.case-detail {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
  z-index: 4;
}

.show-case:hover {
  .case-detail {
    bottom: 0%;
  }
  .show-case img {
    transform: rotateX(20);
  }
}
.case-detail h3,
.case-detail p {
  padding: 0;
  margin: 0;
}
.filter-chose {
  padding: 8px;
  color: var(--main-color);
}
.filter-chose.active {
  background-color: var(--secondry-color);
  color: var(--white-me);
}

.show-case img:hover {
  transform: rotate(10deg);
  scale: 130%;
}
/* end portfolio  */

/* start email us  */
.EmailUs {
  max-width: 100%;
  background-image: url("../images/nature-7.jpg");
  background-size: cover;
  padding-top: var(--system-up-padding);
  padding-bottom: var(--system-bottom-padding);
  color: var(--white-me);
}

.EmailUs input::placeholder {
  color: var(--white-me);
}

.EmailUs input {
  all: unset;
}

.EmailUs .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.EmailUs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.email-box {
  margin: 40px;
  gap: 40px;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--activity-color);
}

.email-box button {
  width: 100%;
  padding: 10px;
  height: 100%;
  color: var(--main-color);
}
.input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: var(--white-me);
}

.input input {
  all: unset;
}

@media (max-width: 991px) {
  .EmailUs .container {
    flex-direction: column;
    align-items: center;
  }
}
.email-box .btn:hover {
  background-color: var(--activity-color);
  color: var(--main-color);
}
.btn {
  width: 100%;
  height: 100%;
  background-color: var(--white-me);
  color: var(--main-color);
  padding: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.EmailUs form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.EmailUs form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.EmailUs form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.EmailUs form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
/* end email us  */
/* start contact us */
.contact-us {
  padding-top: var(--system-up-padding);
  padding-bottom: var(--system-bottom-padding);
  color: var(--main-color) !important;
}

.contact-us input:active {
  border: var(--main-color) 2px solid;
}

.contact-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.actual-contact-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contact-content {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

form.actual-contact-form input {
  width: 100%;
  height: 32px;
  margin-bottom: 20px;
  padding: 20px;
}

form.actual-contact-form textarea {
  padding: 20px;
  width: 100%;
}

.form-contact {
  width: 90%;
}
.side-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
}
.touch {
  margin-bottom: 20px;
}
form.actual-contact-form button[type="submit"] {
  cursor: pointer;
  margin-top: 24px;
  border: 3px solid black;
}

form.actual-contact-form button[type="submit"] .custome-btn {
  transition: shadow;
  width: fit-content !important;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  position: relative;
  margin-top: 64px;
  border: 3px solid #0e0e0e;
  transition: border 0.3s, color 0.3s;
  cursor: pointer;
}

form.actual-contact-form button[type="submit"] .custome-btn svg path {
  transition: color 0.3s;
}

button[type="submit"].custome-btn:hover {
  border: 3px solid #800020 !important;
  color: #800020 !important;
}

@media (max-width: 991px) {
  .contact-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .side-info {
    width: 80%;
  }
}
/* end email us  */
/* start footer  */
.footer {
  background-image: url("nature-4.jpg");
  background-size: cover;
  padding-top: var(--system-up-padding);
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  margin-top: 20px;
}

.soc {
  color: var(--main-color) !important;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid var(--main-color);
}
.social-icons {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}
.social-icons FontAwesomeIcon {
  /* color: var(--main-color) !important; */
  cursor: pointer;
}
.copyright {
  margin-top: 60px;
  color: var(--main-color) !important;

  span {
    color: var(--activity-color);
  }
}

.footer .logo .logo-text p {
  color: var(--main-color);
}

@media (max-width:600px) {
  .special-heading h1{
      font-size: 51px;
      margin-bottom: 20px !important;
    }
   p{
      padding-top: 0px !important;
    }
}

/* //nobel details  */

.top-container{
  transition: all 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    padding: 10px 48px;
    z-index: 1000;
    /* height: 100dvb; */
}

.top-container.scrolled {
  background: rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-container .contentt img{
  height: 48px;
}

@media (max-width:400px) {
  .top-container .contentt img{
    height: 22px;
  }
}

.top-container .contentt{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  Button{
    flex-direction: row-reverse;
    font-size: 18px;
    padding: 12px 18px;
    cursor: pointer;
  }

  Button svg{
    rotate: 180deg;
    width: 18px;
  }
}